* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
:root {
  font-size: 16px;
  color: #666;
  --btn-primary: #40a9ff;
}
a {
  text-decoration: none;
}
a:link,
a:visited,
a:active {
  color: inherit;
}
